@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.page {
    width: 100vw;
    min-height: 100vh;
    font-family: "Josefin Sans", serif;

    .container {
        min-height: 100vh;
        margin: 0 auto;
        width: 100%;
        max-width: 1800px;
        display: flex;
        flex-direction: column;

    }

    .content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        .bg {
            flex-direction: column;
            flex: 1 1 auto;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("./assets/bg1.jpg");
        }
        @media screen and (max-width: 768px) {
            background-image: url("./assets/bg_sm.jpg");
        }
    }

    .sho {

        position: absolute;
        width: 410px;
        height: 410px;
        top: 20%;
        left: 10%;
        transform: translate(-50%, -50%);
    }

    .sho-text {
        font-family: "Josefin Sans", serif;
        font-weight: 300;
        font-size: 80px;
        position: absolute;
        color: white;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        margin: 0;
    }

    .footer {
        display: flex;
        gap: 20px;
        position: absolute;
        right: 10%;
        bottom: 20px;

        .links {
            display: flex;
            align-self: self-end;
            gap: 10px;

            height: 61px;

            img {
                width: 61px;
                height: 61px;
            }
        }

        .chart {
            color: white;

            a {
                position: relative;
                left: -20px;
                color: white;
                font-size: 25px;
                text-decoration: underline;
            }

            .player-wrapper {
                display: flex;
                flex-direction: column;
            }
        }
    }
    
    .player{
        display: flex;
        align-items: center;
        gap: 15px;
        .time-wrapper{
            width: 55px;
            .time{
                font-size: 12px;
                color:gray;
            }
        }

        .control{
            cursor: pointer;
            position: relative;
            top: -1px;
            background:none;
            display: block;
            width: 20px;
            height: 20px;
            svg{
                fill:white;
                width: 100%;
                height: 100%;
            }
        }
        input{
            position: relative;
            top: -2px;
                -webkit-appearance: none;
                appearance: none;
                width: 200px;
                height: 5px;
                background: #ddd;
                border-radius: 5px;
                outline: none;
                transition: background 0.3s ease;
        }
        input::-webkit-slider-thumb {
            /* removing default appearance */
            -webkit-appearance: none;
            appearance: none;
            /* creating a custom design */
            height: 15px;
            width: 15px;
            background-color: #fff;
            border-radius: 50%;

        }
    }

    @media screen and (max-width: 768px) {


    }
}
